In [2]:
# BIBLIOTEKI
import pyodbc
import pandas as pd
import numpy as np
import posixpath as os
import gc

#from matplotlib import pyplot as plt
#from matplotlib.pyplot import figure
from IPython.display import display, HTML
from pandas.tseries.offsets import *
from datetime import timedelta

pd.options.display.max_rows=500
pd.options.display.precision=2
pd.options.display.max_columns=50
pd.options.display.float_format='{0:,.2f}'.format

p=r'C:\Users\DW\KOPALNIA\FINANSE'

In [3]:
import pyodbc
pyodbc.drivers()

['ODBC Driver 17 for SQL Server']

In [4]:
# ZAPYTANIE SQL

t_sql="SELECT RozrachunkiIdx.Typ, RozrachunkiIdx.Dokument, RozrachunkiIdx.DokumentType, RozrachunkiIdx.Podmiot, Kontrahenci.Nazwa, RozrachunkiIdx.PodmiotType, RozrachunkiIdx.Numer, RozrachunkiIdx.Data,  RozrachunkiIdx.KwotaValue, RozrachunkiIdx.Termin, RozrachunkiIdx.DataRozliczenia, RozrachunkiIdx.KwotaRozliczonaValue, RozrachunkiIdx.KwotaRozliczonaSymbol, RozrachunkiIdx.DoRozliczeniaValue FROM            RozrachunkiIdx INNER JOIN Kontrahenci ON RozrachunkiIdx.Podmiot = Kontrahenci.ID WHERE (RozrachunkiIdx.Typ = 10) AND (RozrachunkiIdx.PodmiotType = 'Kontrahenci') AND (RozrachunkiIdx.Termin BETWEEN CONVERT(DATETIME, '2022-01-01 00:00:00', 102) AND CONVERT(DATETIME, '2022-12-31 00:00:00', 102))"


cnxn=pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};'
                    'Server=192.168.1.252\ENOVA_KOPALNIA;'
                    'Database=OGORZELEC;'
                    'UID=ro_daniel.wojcik;'
                    'PWD=661594050xkr@;'
                    'Trusted_Connection=no;')

df=pd.read_sql_query (t_sql,cnxn)

t_nal_raport=df[['Nazwa', 'Numer', 'Data', 'KwotaValue', 'Termin', 'DataRozliczenia','KwotaRozliczonaValue', 'DoRozliczeniaValue']].copy()
t_nal_raport=t_nal_raport[t_nal_raport['DoRozliczeniaValue']>0]

t_nal_raport['VAL_REC_DUE']=t_nal_raport.apply(lambda x:x['DoRozliczeniaValue'] if x['Termin']<=(pd.to_datetime('today')) else 0, axis=1)
t_nal_raport['VAL_DUE_99_14']=t_nal_raport.apply(lambda x:x['DoRozliczeniaValue'] if x['Termin']<(pd.to_datetime('today')-timedelta(days=14)) else 0, axis=1)

t_nal_raport['VAL_DUE_14_07']=t_nal_raport.apply(lambda x:x['DoRozliczeniaValue'] if (x['Termin']<(pd.to_datetime('today')-timedelta(days=7)) and x['Termin']>=(pd.to_datetime('today')-timedelta(days=14))) else 0, axis=1)
t_nal_raport['VAL_DUE_07_00']=t_nal_raport.apply(lambda x:x['DoRozliczeniaValue'] if (x['Termin']<(pd.to_datetime('today')-timedelta(days=0)) and x['Termin']>=(pd.to_datetime('today')-timedelta(days=7))) else 0, axis=1)
t_nal_raport['VAL_FUT_00_07']=t_nal_raport.apply(lambda x:x['DoRozliczeniaValue'] if (x['Termin']>=(pd.to_datetime('today')+timedelta(days=0)) and x['Termin']<(pd.to_datetime('today')+timedelta(days=7))) else 0, axis=1)
t_nal_raport['VAL_FUT_07_14']=t_nal_raport.apply(lambda x:x['DoRozliczeniaValue'] if (x['Termin']>=(pd.to_datetime('today')+timedelta(days=7)) and x['Termin']<(pd.to_datetime('today')+timedelta(days=14))) else 0, axis=1)
t_nal_raport['VAL_FUT_14_99']=t_nal_raport.apply(lambda x:x['DoRozliczeniaValue'] if (x['Termin']>=(pd.to_datetime('today')+timedelta(days=14))) else 0, axis=1)
t_nal_raport.rename(columns={'DoRozliczeniaValue':'VAL_REC_ALL'},inplace=True)


t_nal_raport=t_nal_raport.groupby(['Nazwa'],as_index=False)[['VAL_REC_ALL','VAL_REC_DUE','VAL_DUE_99_14','VAL_DUE_14_07', 'VAL_DUE_07_00', 'VAL_FUT_00_07', 'VAL_FUT_07_14','VAL_FUT_14_99']].sum()
t_nal_raport=t_nal_raport.sort_values(by=['VAL_REC_DUE'],ascending=False)
t_nal_raport.loc['RAZEM']=t_nal_raport.sum(numeric_only=True,axis=0)
t_nal_raport

/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/pandas/io/sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,Nazwa,VAL_REC_ALL,VAL_REC_DUE,VAL_DUE_99_14,VAL_DUE_14_07,VAL_DUE_07_00,VAL_FUT_00_07,VAL_FUT_07_14,VAL_FUT_14_99
20,KOBYLARNIA S.A.,"1,782,872.75","794,568.49","198,569.28","211,723.59","384,275.62",0.00,"401,403.15","586,901.11"
45,UNIBEP SPÓŁKA AKCYJNA,"532,585.33","532,585.33",0.00,0.00,"532,585.33",0.00,0.00,0.00
10,CEMEX POLSKA SPÓŁKA Z OGRANICZONĄ ODPOWIEDZIAL...,"1,052,572.05","307,859.16","157,613.43","13,530.00","136,715.73","239,734.38","259,342.50","245,636.01"
36,Przedsiębiorstwo Produkcji Mas Betonowych BOST...,"943,310.90","274,536.00",0.00,0.00,"274,536.00","9,061.48","3,925.03","655,788.39"
15,HDTS POWER s.r.o.,"400,668.09","163,946.66","163,946.66",0.00,0.00,"71,389.24","29,503.56","135,828.63"
18,Jeleniogórskie Przedsiębiorstwo Robót Drogowyc...,"137,967.23","51,953.70","34,313.51","6,540.72","11,099.47","17,087.65","11,959.91","56,965.97"
43,TRANS-PIOTR Transport Ciężarowy Piotr Brener,"41,013.59","27,391.68","4,380.65","7,212.20","15,798.83","13,621.91",0.00,0.00
9,BUDIMEX SA,"52,555.49","15,295.12",0.00,604.37,"14,690.75","6,861.98",0.00,"30,398.39"
34,PRZEDSIĘBIORSTWO PRODUKCYJNO-HANDLOWO -USŁUGOW...,"15,271.64","15,271.64","14,964.09",0.00,307.55,0.00,0.00,0.00
33,PRZEDSIĘBIORSTWO HANDLOWO USŁUGOWE MON-MAR,"14,671.34","14,671.34","14,671.34",0.00,0.00,0.00,0.00,0.00
31,"PHU ""KAMA"" Ryszard Rzońca","17,130.45","13,948.06","3,797.69",293.21,"9,857.16","3,182.39",0.00,0.00
7,BT TOPBETON SPÓŁKA Z OGRANICZONĄ ODPOWIEDZIALN...,"103,065.24","11,782.03",0.00,0.00,"11,782.03","14,275.87","9,446.70","67,560.64"
29,"P.H.U. "" Mazur"" Adam Mazur","8,126.64","7,844.82","2,104.73","3,076.25","2,663.84",281.82,0.00,0.00
3,Alpinexpert Marcin Maczek,"6,900.93","6,900.93","4,366.84","2,534.09",0.00,0.00,0.00,0.00
17,JAHOŁ Prace Ziemne i Ogólnobudowlane Jahołkows...,"6,337.40","5,831.38","4,383.77","1,447.61",0.00,506.02,0.00,0.00
42,Sudeckie Przedsiębiorstwo Robót Drogowych Sp.z...,"7,310.90","5,297.73",0.00,"1,682.37","3,615.36","2,013.17",0.00,0.00
12,FIRMA USŁUGOWA DOBROWOLSKI ARTUR,"9,805.49","4,900.05",0.00,0.00,"4,900.05","4,905.44",0.00,0.00
37,Przedsiębiorstwo Wielobranżowe CORSO Marek Zimmer,"6,094.26","4,893.26",0.02,0.00,"4,893.24","1,201.00",0.00,0.00
22,KÓŁKO ROLNICZE w Siedlęcinie,"9,346.67","4,470.46",0.00,0.00,"4,470.46","4,876.21",0.00,0.00
14,GÓRNICKI TRANSPORT Janusz Górnicki,"8,636.13","4,360.55",0.03,0.00,"4,360.52","4,275.58",0.00,0.00
47,VWV SP. Z O.O.,"4,161.72","3,683.50",0.00,"3,218.93",464.57,478.22,0.00,0.00
19,KARKONOSKIE PRZEDSIĘBIORSTWO ROBÓT DROGOWYCH S...,"3,546.27","3,546.27","2,148.92",0.00,"1,397.35",0.00,0.00,0.00
16,"HURTOWNIA MATERIAŁÓW BUDOWLANYCH ""REMBUD"" DĄBR...","7,513.08","3,525.28","1,875.60","1,186.46",463.22,"2,566.12","1,421.68",0.00
46,Usługi Montażowo Budowlane A.J.M. Artur Gawłowski,"3,586.08","3,119.29",0.00,0.00,"3,119.29",466.79,0.00,0.00
0,"""PRE-FABRYKAT"" Sp. z o.o.","2,287.41","2,287.41",0.00,0.00,"2,287.41",0.00,0.00,0.00
28,P.B.U. REDBUD Rafał Kozioł,"2,053.31","2,053.31",0.00,725.21,"1,328.10",0.00,0.00,0.00
27,Miejskie Przedsiębiorstwo Gospodarki Komunaln...,"2,410.90","1,856.96","1,163.14",0.00,693.82,553.94,0.00,0.00
44,TRANSPORT CIĘŻAROWY NAKONIECZNY LESZEK,"5,554.10","1,229.07",0.00,0.00,"1,229.07","2,210.83","2,114.20",0.00
30,"P.H.U. ""LITBUD"" KRZYSZTOF LITWA","1,122.01","1,036.77",0.00,0.00,"1,036.77",85.24,0.00,0.00
1,AKMANN JAN RUDY,600.00,600.00,600.00,0.00,0.00,0.00,0.00,0.00
23,LAFARGE KRUSZYWA I BETON Sp. z o.o.,"416,224.02",541.82,0.00,541.82,0.00,0.00,"106,308.29","309,373.91"
4,BEST PARTNER Andrzej Czachor,61.50,61.50,0.00,61.50,0.00,0.00,0.00,0.00
41,STRABAG SPÓŁKA Z OGRANICZONĄ ODPOWIEDZIALNOŚCIĄ,"51,017.94",0.00,0.00,0.00,0.00,"13,805.03","4,022.10","33,190.81"
40,SOMBIN STANISŁAW TYRAŁA SPÓŁKA JAWNA,"2,090.90",0.00,0.00,0.00,0.00,"2,090.90",0.00,0.00
48,WŁODAN SPÓŁKA Z OGRANICZONĄ ODPOWIEDZIALNOŚCIĄ...,"47,766.52",0.00,0.00,0.00,0.00,"47,766.52",0.00,0.00
39,SEBASTIAN STADNIK SPG POLSKA TRUCK,"94,105.23",0.00,0.00,0.00,0.00,"70,862.17","23,243.06",0.00
38,SAT SPÓŁKA Z OGRANICZONĄ ODPOWIEDZIALNOŚCIĄ,"1,303.80",0.00,0.00,0.00,0.00,"1,303.80",0.00,0.00
25,MIASTO SZKLARSKA PORĘBA-MIEJSKI ZAKŁAD GOSPODA...,"2,128.64",0.00,0.00,0.00,0.00,"2,128.64",0.00,0.00
35,"Przedsiębiorstwo Budowy Dróg i Mostów ""ERBEDIM...","139,928.00",0.00,0.00,0.00,0.00,0.00,0.00,"139,928.00"
32,PORR SPÓŁKA AKCYJNA,"1,052,222.09",0.00,0.00,0.00,0.00,"434,245.66","183,030.85","434,945.58"
26,MOSTY ŁÓDŹ SPÓŁKA AKCYJNA,"154,758.35",0.00,0.00,0.00,0.00,0.00,"49,144.40","105,613.95"
24,LERTA S.A.,"5,174.84",0.00,0.00,0.00,0.00,0.00,0.00,"5,174.84"
21,KOMPANIA GÓRNICZA SPÓŁKA Z OGRANICZONĄ ODPOWIE...,"1,959,408.62",0.00,0.00,0.00,0.00,"11,942.46","1,692,467.82","254,998.34"
13,GODEL MOBILBETON SPÓŁKA Z OGRANICZONĄ ODPOWIED...,"488,933.14",0.00,0.00,0.00,0.00,"161,990.64","21,616.39","305,326.11"
11,F.H.U. AMPLIZ Józef Cygankiewicz,169.15,0.00,0.00,0.00,0.00,0.00,0.00,169.15
8,BUDIMEX S.A. ODDZIAŁ USŁUG SPRZĘTOWYCH W PRUSZ...,692.24,0.00,0.00,0.00,0.00,0.00,0.00,692.24
6,BETONIARSTWO SPÓŁKA CYWILNA WALDEMAR BUŁAT KA...,"40,941.19",0.00,0.00,0.00,0.00,"13,290.74",0.00,"27,650.45"
5,BETON TRUTNOV S.R.O.,"2,080.80",0.00,0.00,0.00,0.00,0.00,"2,080.80",0.00
2,AMPLIZ SPÓŁKA Z OGRANICZONĄ ODPOWIEDZIALNOŚCIĄ,239.36,0.00,0.00,0.00,0.00,0.00,0.00,239.36
49,ZAKŁAD ROBÓT KOMUNIKACYJNYCH - DOM W POZNANIU ...,"71,607.53",0.00,0.00,0.00,0.00,0.00,"71,607.53",0.00
RAZEM,NaN,"9,719,931.26","2,291,849.57","608,899.70","254,378.33","1,428,571.54","1,159,061.84","2,872,637.97","3,396,381.88"

In [25]:
t_klient=df[['Nazwa', 'PodmiotType','Numer', 'Data', 'Termin', 'KwotaValue', 'DoRozliczeniaValue']].copy()
t_klient=t_klient[(t_klient['Termin']<=pd.to_datetime('today'))&(t_klient['DoRozliczeniaValue']!=0)].sort_values(by='Termin',ascending=True)
# t_klient.loc['RAZEM']=t_klient.sum(numeric_only=True,axis=0)
t_klient_agg=t_klient.groupby(['Nazwa'],as_index=False)[['DoRozliczeniaValue']].sum()
t_klient_agg=t_klient_agg.sort_values(by='DoRozliczeniaValue',ascending=False)
t_klient_agg

                                                Nazwa  DoRozliczeniaValue
14                                    KOBYLARNIA S.A.          794,568.49
29                              UNIBEP SPÓŁKA AKCYJNA          532,585.33
6   CEMEX POLSKA SPÓŁKA Z OGRANICZONĄ ODPOWIEDZIAL...          307,859.16
24  Przedsiębiorstwo Produkcji Mas Betonowych BOST...          274,536.00
9                                   HDTS POWER s.r.o.          163,946.66
12  Jeleniogórskie Przedsiębiorstwo Robót Drogowyc...           51,953.70
27       TRANS-PIOTR Transport Ciężarowy Piotr Brener           27,391.68
5                                          BUDIMEX SA           15,295.12
23  PRZEDSIĘBIORSTWO PRODUKCYJNO-HANDLOWO -USŁUGOW...           15,271.64
22         PRZEDSIĘBIORSTWO HANDLOWO USŁUGOWE MON-MAR           14,671.34
21                         PHU  "KAMA" Ryszard Rzońca           13,948.06
4   BT TOPBETON SPÓŁKA Z OGRANICZONĄ ODPOWIEDZIALN...           11,782.03
19                         P.H.U. " Mazur" Adam Mazur            7,844.82
2                           Alpinexpert Marcin Maczek            6,900.93
11  JAHOŁ Prace Ziemne i Ogólnobudowlane Jahołkows...            5,831.38
26  Sudeckie Przedsiębiorstwo Robót Drogowych Sp.z...            5,297.73
7                    FIRMA USŁUGOWA DOBROWOLSKI ARTUR            4,900.05
25  Przedsiębiorstwo Wielobranżowe CORSO Marek Zimmer            4,893.26
15                       KÓŁKO ROLNICZE w Siedlęcinie            4,470.46
8                  GÓRNICKI TRANSPORT Janusz Górnicki            4,360.55
31                                     VWV SP. Z O.O.            3,683.50
13  KARKONOSKIE PRZEDSIĘBIORSTWO ROBÓT DROGOWYCH S...            3,546.27
10  HURTOWNIA MATERIAŁÓW BUDOWLANYCH "REMBUD" DĄBR...            3,525.28
30  Usługi Montażowo Budowlane A.J.M. Artur Gawłowski            3,119.29
0                           "PRE-FABRYKAT" Sp. z o.o.            2,287.41
18                         P.B.U. REDBUD Rafał Kozioł            2,053.31
17  Miejskie Przedsiębiorstwo  Gospodarki Komunaln...            1,856.96
28             TRANSPORT CIĘŻAROWY NAKONIECZNY LESZEK            1,229.07
20                    P.H.U. "LITBUD" KRZYSZTOF LITWA            1,036.77
1                                     AKMANN JAN RUDY              600.00
16                LAFARGE KRUSZYWA I BETON Sp. z o.o.              541.82
3                        BEST PARTNER Andrzej Czachor               61.50

In [26]:
for index, row in t_klient_agg.iterrows():
    n=row['Nazwa']
    t=t_klient[t_klient['Nazwa']==n]
    display(t)

,Nazwa,PodmiotType,Numer,Data,Termin,KwotaValue,DoRozliczeniaValue
2034,KOBYLARNIA S.A.,Kontrahenci,FV/22/08/0071,2022-08-10,2022-09-09,"198,569.28","198,569.28"
2104,KOBYLARNIA S.A.,Kontrahenci,FV/22/08/0110,2022-08-16,2022-09-15,"211,723.59","211,723.59"
2123,KOBYLARNIA S.A.,Kontrahenci,FV/22/08/0147,2022-08-19,2022-09-18,"194,758.20","194,758.20"
2153,KOBYLARNIA S.A.,Kontrahenci,FV/22/08/0178,2022-08-24,2022-09-23,"189,517.42","189,517.42"

,Nazwa,PodmiotType,Numer,Data,Termin,KwotaValue,DoRozliczeniaValue
2154,UNIBEP SPÓŁKA AKCYJNA,Kontrahenci,FV/22/09/0011,2022-09-02,2022-09-23,"532,585.33","532,585.33"

,Nazwa,PodmiotType,Numer,Data,Termin,KwotaValue,DoRozliczeniaValue
2033,CEMEX POLSKA SPÓŁKA Z OGRANICZONĄ ODPOWIEDZIAL...,Kontrahenci,FV/22/08/0065,2022-08-10,2022-09-09,"157,613.43","157,613.43"
2096,CEMEX POLSKA SPÓŁKA Z OGRANICZONĄ ODPOWIEDZIAL...,Kontrahenci,FVP/22/08/0007,2022-08-31,2022-09-14,"13,530.00","13,530.00"
2145,CEMEX POLSKA SPÓŁKA Z OGRANICZONĄ ODPOWIEDZIAL...,Kontrahenci,FV/22/08/0166,2022-08-23,2022-09-22,"136,715.73","136,715.73"

,Nazwa,PodmiotType,Numer,Data,Termin,KwotaValue,DoRozliczeniaValue
2144,Przedsiębiorstwo Produkcji Mas Betonowych BOST...,Kontrahenci,FV/22/08/0062,2022-08-08,2022-09-22,"137,268.00","137,268.00"
2143,Przedsiębiorstwo Produkcji Mas Betonowych BOST...,Kontrahenci,FV/22/08/0058,2022-08-08,2022-09-22,"137,268.00","137,268.00"

,Nazwa,PodmiotType,Numer,Data,Termin,KwotaValue,DoRozliczeniaValue
1299,HDTS POWER s.r.o.,Kontrahenci,FD/22/05/0017,2022-05-24,2022-06-23,"8,210.47","8,210.47"
1300,HDTS POWER s.r.o.,Kontrahenci,FD/22/05/0018,2022-05-24,2022-06-23,"22,665.59","22,665.59"
1773,HDTS POWER s.r.o.,Kontrahenci,FD/22/07/0007,2022-07-12,2022-08-11,"27,979.04","27,979.04"
1824,HDTS POWER s.r.o.,Kontrahenci,FD/22/07/0009,2022-07-18,2022-08-17,"22,126.86","22,126.86"
1896,HDTS POWER s.r.o.,Kontrahenci,FD/22/07/0015,2022-07-26,2022-08-25,"31,901.07","31,901.07"
1958,HDTS POWER s.r.o.,Kontrahenci,FD/22/08/0003,2022-08-02,2022-09-01,"27,404.11","27,404.11"
2018,HDTS POWER s.r.o.,Kontrahenci,FD/22/08/0006,2022-08-08,2022-09-07,"23,659.52","23,659.52"

,Nazwa,PodmiotType,Numer,Data,Termin,KwotaValue,DoRozliczeniaValue
1934,Jeleniogórskie Przedsiębiorstwo Robót Drogowyc...,Kontrahenci,FV/22/07/0222,2022-07-29,2022-08-28,"11,550.98","11,550.98"
1997,Jeleniogórskie Przedsiębiorstwo Robót Drogowyc...,Kontrahenci,FV/22/08/0047,2022-08-05,2022-09-04,"22,762.53","22,762.53"
2062,Jeleniogórskie Przedsiębiorstwo Robót Drogowyc...,Kontrahenci,FV/22/08/0090,2022-08-12,2022-09-11,"6,540.72","6,540.72"
2126,Jeleniogórskie Przedsiębiorstwo Robót Drogowyc...,Kontrahenci,FV/22/08/0150,2022-08-19,2022-09-18,"5,315.30","5,315.30"
2125,Jeleniogórskie Przedsiębiorstwo Robót Drogowyc...,Kontrahenci,FV/22/08/0149,2022-08-19,2022-09-18,"5,784.17","5,784.17"

,Nazwa,PodmiotType,Numer,Data,Termin,KwotaValue,DoRozliczeniaValue
2046,TRANS-PIOTR Transport Ciężarowy Piotr Brener,Kontrahenci,FV/22/08/0217,2022-08-26,2022-09-09,"4,380.65","4,380.65"
2095,TRANS-PIOTR Transport Ciężarowy Piotr Brener,Kontrahenci,FV/22/08/0260,2022-08-31,2022-09-14,"4,248.44","4,248.44"
2112,TRANS-PIOTR Transport Ciężarowy Piotr Brener,Kontrahenci,FV/22/09/0023,2022-09-02,2022-09-16,"2,963.76","2,963.76"
2165,TRANS-PIOTR Transport Ciężarowy Piotr Brener,Kontrahenci,FV/22/09/0083,2022-09-09,2022-09-23,"15,798.83","15,798.83"

,Nazwa,PodmiotType,Numer,Data,Termin,KwotaValue,DoRozliczeniaValue
2060,BUDIMEX SA,Kontrahenci,FV/22/08/0083,2022-08-12,2022-09-11,604.37,604.37
2119,BUDIMEX SA,Kontrahenci,FV/22/08/0136,2022-08-19,2022-09-18,"3,165.80","3,165.80"
2118,BUDIMEX SA,Kontrahenci,FV/22/08/0132,2022-08-19,2022-09-18,"11,524.95","11,524.95"

,Nazwa,PodmiotType,Numer,Data,Termin,KwotaValue,DoRozliczeniaValue
1733,PRZEDSIĘBIORSTWO PRODUKCYJNO-HANDLOWO -USŁUGOW...,Kontrahenci,FV/22/07/0148,2022-07-22,2022-08-05,"1,387.10","1,387.10"
1791,PRZEDSIĘBIORSTWO PRODUKCYJNO-HANDLOWO -USŁUGOW...,Kontrahenci,FV/22/07/0218,2022-07-29,2022-08-12,"7,035.60","7,035.60"
1854,PRZEDSIĘBIORSTWO PRODUKCYJNO-HANDLOWO -USŁUGOW...,Kontrahenci,FV/22/08/0049,2022-08-05,2022-08-19,"3,510.32","3,510.32"
1903,PRZEDSIĘBIORSTWO PRODUKCYJNO-HANDLOWO -USŁUGOW...,Kontrahenci,FV/22/08/0080,2022-08-12,2022-08-26,"2,128.05","2,128.05"
2038,PRZEDSIĘBIORSTWO PRODUKCYJNO-HANDLOWO -USŁUGOW...,Kontrahenci,FV/22/08/0191,2022-08-26,2022-09-09,903.02,903.02
2158,PRZEDSIĘBIORSTWO PRODUKCYJNO-HANDLOWO -USŁUGOW...,Kontrahenci,FV/22/09/0060,2022-09-09,2022-09-23,307.55,307.55

,Nazwa,PodmiotType,Numer,Data,Termin,KwotaValue,DoRozliczeniaValue
1452,PRZEDSIĘBIORSTWO HANDLOWO USŁUGOWE MON-MAR,Kontrahenci,FV/22/06/0186,2022-06-24,2022-07-08,"2,299.51","2,299.51"
1509,PRZEDSIĘBIORSTWO HANDLOWO USŁUGOWE MON-MAR,Kontrahenci,FV/22/06/0243,2022-06-30,2022-07-14,"7,239.09","7,239.09"
1579,PRZEDSIĘBIORSTWO HANDLOWO USŁUGOWE MON-MAR,Kontrahenci,FV/22/07/0029,2022-07-08,2022-07-22,"5,132.74","5,132.74"

,Nazwa,PodmiotType,Numer,Data,Termin,KwotaValue,DoRozliczeniaValue
1970,"PHU ""KAMA"" Ryszard Rzońca",Kontrahenci,FV/22/08/0143,2022-08-19,2022-09-02,215.45,215.45
2044,"PHU ""KAMA"" Ryszard Rzońca",Kontrahenci,FV/22/08/0213,2022-08-26,2022-09-09,"3,582.24","3,582.24"
2085,"PHU ""KAMA"" Ryszard Rzońca",Kontrahenci,FV/22/08/0238,2022-08-31,2022-09-14,293.21,293.21
2161,"PHU ""KAMA"" Ryszard Rzońca",Kontrahenci,FV/22/09/0078,2022-09-09,2022-09-23,"9,857.16","9,857.16"

,Nazwa,PodmiotType,Numer,Data,Termin,KwotaValue,DoRozliczeniaValue
2128,BT TOPBETON SPÓŁKA Z OGRANICZONĄ ODPOWIEDZIALN...,Kontrahenci,FV/22/08/0051,2022-08-05,2022-09-19,"4,696.34","4,696.34"
2129,BT TOPBETON SPÓŁKA Z OGRANICZONĄ ODPOWIEDZIALN...,Kontrahenci,FV/22/08/0052,2022-08-05,2022-09-19,"7,085.69","7,085.69"

,Nazwa,PodmiotType,Numer,Data,Termin,KwotaValue,DoRozliczeniaValue
1977,"P.H.U. "" Mazur"" Adam Mazur",Kontrahenci,FV/22/08/0158,2022-08-19,2022-09-02,"1,429.21","1,429.21"
2049,"P.H.U. "" Mazur"" Adam Mazur",Kontrahenci,FV/22/08/0220,2022-08-26,2022-09-09,675.52,675.52
2094,"P.H.U. "" Mazur"" Adam Mazur",Kontrahenci,FV/22/08/0259,2022-08-31,2022-09-14,"3,076.25","3,076.25"
2162,"P.H.U. "" Mazur"" Adam Mazur",Kontrahenci,FV/22/09/0080,2022-09-09,2022-09-23,"2,663.84","2,663.84"

,Nazwa,PodmiotType,Numer,Data,Termin,KwotaValue,DoRozliczeniaValue
1979,Alpinexpert Marcin Maczek,Kontrahenci,FV/22/08/0209,2022-08-26,2022-09-02,"4,366.84","4,366.84"
2097,Alpinexpert Marcin Maczek,Kontrahenci,FV/22/09/0045,2022-09-07,2022-09-14,792.78,792.78
2113,Alpinexpert Marcin Maczek,Kontrahenci,FV/22/09/0056,2022-09-09,2022-09-16,"1,741.31","1,741.31"

,Nazwa,PodmiotType,Numer,Data,Termin,KwotaValue,DoRozliczeniaValue
1844,JAHOŁ Prace Ziemne i Ogólnobudowlane Jahołkows...,Kontrahenci,FV/22/07/0212,2022-07-29,2022-08-19,"2,560.91","2,560.91"
2036,JAHOŁ Prace Ziemne i Ogólnobudowlane Jahołkows...,Kontrahenci,FV/22/08/0159,2022-08-19,2022-09-09,"1,822.86","1,822.86"
2109,JAHOŁ Prace Ziemne i Ogólnobudowlane Jahołkows...,Kontrahenci,FV/22/08/0207,2022-08-26,2022-09-16,"1,447.61","1,447.61"

,Nazwa,PodmiotType,Numer,Data,Termin,KwotaValue,DoRozliczeniaValue
2091,Sudeckie Przedsiębiorstwo Robót Drogowych Sp.z...,Kontrahenci,FV/22/08/0256,2022-08-31,2022-09-14,"1,682.37","1,682.37"
2167,Sudeckie Przedsiębiorstwo Robót Drogowych Sp.z...,Kontrahenci,FV/22/09/0085,2022-09-09,2022-09-23,"3,615.36","3,615.36"

,Nazwa,PodmiotType,Numer,Data,Termin,KwotaValue,DoRozliczeniaValue
2156,FIRMA USŁUGOWA DOBROWOLSKI ARTUR,Kontrahenci,FV/22/09/0058,2022-09-09,2022-09-23,"4,900.05","4,900.05"

,Nazwa,PodmiotType,Numer,Data,Termin,KwotaValue,DoRozliczeniaValue
1786,Przedsiębiorstwo Wielobranżowe CORSO Marek Zimmer,Kontrahenci,FV/22/07/0207,2022-07-29,2022-08-12,"4,998.38",0.02
2164,Przedsiębiorstwo Wielobranżowe CORSO Marek Zimmer,Kontrahenci,FV/22/09/0082,2022-09-09,2022-09-23,"4,893.24","4,893.24"

,Nazwa,PodmiotType,Numer,Data,Termin,KwotaValue,DoRozliczeniaValue
2168,KÓŁKO ROLNICZE w Siedlęcinie,Kontrahenci,FV/22/09/0086,2022-09-09,2022-09-23,"4,470.46","4,470.46"

,Nazwa,PodmiotType,Numer,Data,Termin,KwotaValue,DoRozliczeniaValue
1671,GÓRNICKI TRANSPORT Janusz Górnicki,Kontrahenci,FV/22/07/0097,2022-07-15,2022-07-29,"28,622.59",0.03
2159,GÓRNICKI TRANSPORT Janusz Górnicki,Kontrahenci,FV/22/09/0070,2022-09-09,2022-09-23,"4,360.52","4,360.52"

,Nazwa,PodmiotType,Numer,Data,Termin,KwotaValue,DoRozliczeniaValue
2064,VWV SP. Z O.O.,Kontrahenci,FV/22/08/0096,2022-08-12,2022-09-11,"3,218.93","3,218.93"
2127,VWV SP. Z O.O.,Kontrahenci,FV/22/08/0152,2022-08-19,2022-09-18,464.57,464.57

,Nazwa,PodmiotType,Numer,Data,Termin,KwotaValue,DoRozliczeniaValue
1904,KARKONOSKIE PRZEDSIĘBIORSTWO ROBÓT DROGOWYCH S...,Kontrahenci,FV/22/08/0086,2022-08-12,2022-08-26,"1,405.82","1,405.82"
1968,KARKONOSKIE PRZEDSIĘBIORSTWO ROBÓT DROGOWYCH S...,Kontrahenci,FV/22/08/0134,2022-08-19,2022-09-02,743.10,743.10
2155,KARKONOSKIE PRZEDSIĘBIORSTWO ROBÓT DROGOWYCH S...,Kontrahenci,FV/22/09/0055,2022-09-09,2022-09-23,"1,397.35","1,397.35"

,Nazwa,PodmiotType,Numer,Data,Termin,KwotaValue,DoRozliczeniaValue
1966,"HURTOWNIA MATERIAŁÓW BUDOWLANYCH ""REMBUD"" DĄBR...",Kontrahenci,FV/22/08/0082,2022-08-12,2022-09-02,"1,875.60","1,875.60"
2108,"HURTOWNIA MATERIAŁÓW BUDOWLANYCH ""REMBUD"" DĄBR...",Kontrahenci,FV/22/08/0198,2022-08-26,2022-09-16,"1,186.46","1,186.46"
2139,"HURTOWNIA MATERIAŁÓW BUDOWLANYCH ""REMBUD"" DĄBR...",Kontrahenci,FV/22/08/0236,2022-08-31,2022-09-21,463.22,463.22

,Nazwa,PodmiotType,Numer,Data,Termin,KwotaValue,DoRozliczeniaValue
2169,Usługi Montażowo Budowlane A.J.M. Artur Gawłowski,Kontrahenci,FV/22/09/0087,2022-09-09,2022-09-23,"3,119.29","3,119.29"

,Nazwa,PodmiotType,Numer,Data,Termin,KwotaValue,DoRozliczeniaValue
2170,"""PRE-FABRYKAT"" Sp. z o.o.",Kontrahenci,FV/22/09/0122,2022-09-16,2022-09-23,"2,287.41","2,287.41"

,Nazwa,PodmiotType,Numer,Data,Termin,KwotaValue,DoRozliczeniaValue
2115,P.B.U. REDBUD Rafał Kozioł,Kontrahenci,FV/22/09/0076,2022-09-09,2022-09-16,725.21,725.21
2171,P.B.U. REDBUD Rafał Kozioł,Kontrahenci,FV/22/09/0140,2022-09-16,2022-09-23,"1,328.10","1,328.10"

,Nazwa,PodmiotType,Numer,Data,Termin,KwotaValue,DoRozliczeniaValue
2040,Miejskie Przedsiębiorstwo Gospodarki Komunaln...,Kontrahenci,FV/22/08/0201,2022-08-26,2022-09-09,"1,163.14","1,163.14"
2157,Miejskie Przedsiębiorstwo Gospodarki Komunaln...,Kontrahenci,FV/22/09/0059,2022-09-09,2022-09-23,693.82,693.82

,Nazwa,PodmiotType,Numer,Data,Termin,KwotaValue,DoRozliczeniaValue
2160,TRANSPORT CIĘŻAROWY NAKONIECZNY LESZEK,Kontrahenci,FV/22/09/0071,2022-09-09,2022-09-23,"1,229.07","1,229.07"

,Nazwa,PodmiotType,Numer,Data,Termin,KwotaValue,DoRozliczeniaValue
2166,"P.H.U. ""LITBUD"" KRZYSZTOF LITWA",Kontrahenci,FV/22/09/0084,2022-09-09,2022-09-23,"1,036.77","1,036.77"

,Nazwa,PodmiotType,Numer,Data,Termin,KwotaValue,DoRozliczeniaValue
1575,AKMANN JAN RUDY,Kontrahenci,KFV 3/000001/22,2022-07-14,2022-07-21,600.00,600.00

,Nazwa,PodmiotType,Numer,Data,Termin,KwotaValue,DoRozliczeniaValue
2066,LAFARGE KRUSZYWA I BETON Sp. z o.o.,Kontrahenci,FVK/22/08/0003,2022-08-30,2022-09-11,541.82,541.82

,Nazwa,PodmiotType,Numer,Data,Termin,KwotaValue,DoRozliczeniaValue
2067,BEST PARTNER Andrzej Czachor,Kontrahenci,FVU/22/09/0001,2022-09-02,2022-09-11,61.50,61.50